@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');


body {
    background-image: url("images/background.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    font-family: "Baloo Chettan 2", sans-serif;

}

[data-component-name="Devices"] {
    display: none !important;
  }

.PlayerRSWP {
    margin-bottom: 3rem;
}

.baloo {
    font-family: "Baloo Chettan 2", sans-serif;
}